.button2 {
  font-size: 24px;
  text-decoration: none;
  background: white;
  color: black;
  padding: 15px 40px;
  transition: 0.5s;
  font-weight: 500;
  letter-spacing: 0.1rem;
  clip-path: polygon(90% 0, 100% 50%, 90% 98%, 0% 100%, 10% 49%, 0% 0%);
  &:hover {
    letter-spacing: 0.25rem;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 10% 99%, 0% 50%, 10% 0);
  }
}
