.button1 {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.5s;
  &:hover {
    letter-spacing: 0.25rem;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    color: var(--clr);
  }
  &::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:hover i::before {
    width: 20px;
    left: 20%;
  }
  &:hover i::after {
    width: 20px;
    right: 20%;
  }
  i {
    position: absolute;
    inset: 0;
    display: block;
    &::before {
        content: '';
        position: absolute;
        border: 2px solid var(--clr);
        height: 5px;
        width: 10px;
        top: -3.5px;
        left: 80%;
        background-color: #27282c;
        // transform: translateX(-50%);
        transition: 0.5s;
    }
    &::after {
        content: '';
        position: absolute;
        border: 2px solid var(--clr);
        height: 5px;
        width: 10px;
        bottom: -3.5px;
        right: 80%;
        background-color: #27282c;
        transition: 0.5s;
    }
  }
}
